.gratis-container {
    position: relative;
    text-align: center;
    margin: 56px 20rem;

    h2 {
        text-transform: uppercase;
        color: #726f6f;
        font-size: 2rem;  
        font-weight: bold;

        .red {
            color: #D13131;  
        }
    }; 

    .form-component {
        padding: 56px 10rem;

        form {
            display: block;

            .name-salao {
                display: block; 

                input {
                    width: 100%;   
                    padding: 1rem;
                    border-radius: 1rem;
                    margin-right: 1rem;
                    font-size: 20px;
                    border: none;
                    background-color: #D4D9D4;
                    outline: none;
                    transition: 0.7s; 
                }   

                input:hover {
                    outline: #BA9292;
                    padding-right: 1rem;    
                }; 
            }

            .input-box {
                display: flex;
                justify-content: space-between;

                input {
                    width: 47%; 
                    padding: 1rem;
                    margin-top: 1rem;
                    border-radius: 1rem;
                    font-size: 20px;
                    border: none;
                    background-color: #D4D9D4;
                    outline: none;
                    transition: 0.2s;   
                }    
            } 

            .select-container {
                display: flex;  
                justify-content: space-between;
                
                select {

                }  
            }   
        }    
    }
}